<div class="jumbotron">
  <h1>WOOOO!!! HAPPY MOM'S DAY!!!</h1>
  <p class="lead">
    <img src="./app/images/parents.jpg" style="width: 400px;" alt=""><br><br>
    Little did they know, all the trouble they'd create for themselves, with these two!
    <div style="width: 400px; margin: 0px auto;">
      <img src="./app/images/kids.jpg" style="width: 400px; margin: 0px auto;" alt="">
    </div>
  </p>
</div>

<div class="row marketing">
  <h4 style="text-align: center;">From your son</h4>
  <p style="text-align: center;">
    Mum, I love you very much. I certainly don't tell you enough how much you mean to me, <br>
    so I wanted to take this chance to share with the world just how much I cherish you. <br>
    I cherish you This (You can't see my arms right now, but they are spread as wide as can be) Much!
  </p>
</div>
